#About {
  position: relative;
  min-height: 100vh;
}
#About:before {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../img/gallery/10.jpeg") no-repeat center center fixed;
  background-size: cover;
}
#About:after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.85);
}
  .left img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
  }

  .blur {
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius: 50%;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    top: 50%;
    left: 10%;
    filter: blur(72px);
  }

  .video-container {
    position: relative;
    width: min(800px,100%);
  }

  .video-container img {
    position: absolute;
    left: 0;

    z-index: -1;
  }

  .video-container iframe {
    /* position: relative; */
    /* left: 10%; */
    /* top: 32px; */
  }